# Data Preparation

## Load Data

In [14]:
import pandas as pd

table = pd.read_excel('ToyotaCorolla.xls', sheetname='data')

In [15]:
table.columns

Index([u'Id', u'Model', u'Price', u'Age_08_04', u'Mfg_Month', u'Mfg_Year',
       u'KM', u'Fuel_Type', u'HP', u'Met_Color', u'Color', u'Automatic', u'CC',
       u'Doors', u'Cylinders', u'Gears', u'Quarterly_Tax', u'Weight',
       u'Mfr_Guarantee', u'BOVAG_Guarantee', u'Guarantee_Period', u'ABS',
       u'Airbag_1', u'Airbag_2', u'Airco', u'Automatic_airco',
       u'Boardcomputer', u'CD_Player', u'Central_Lock', u'Powered_Windows',
       u'Power_Steering', u'Radio', u'Mistlamps', u'Sport_Model',
       u'Backseat_Divider', u'Metallic_Rim', u'Radio_cassette',
       u'Parking_Assistant', u'Tow_Bar'],
      dtype='object')

`Fuel_Type` and `Color` are not numeric variabled.

## Categorical to Numerical Conversion

In [16]:
print("Fuel_Type valuies: ", set(table['Fuel_Type']))
print("Color valuies: ", set(table['Color']))

('Fuel_Type valuies: ', set([u'Petrol', u'CNG', u'Diesel']))
('Color valuies: ', set([u'Blue', u'Grey', u'Yellow', u'Black', u'Beige', u'Violet', u'Green', u'White', u'Silver', u'Red']))

In [17]:
data = table[['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'HP', 'Met_Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar']].copy()

In [18]:
data['Diesel'] = (table['Fuel_Type'] == 'Diesel') * 1
data['Petrol'] = (table['Fuel_Type'] == 'Petrol') * 1

In [19]:
for color_name in list(set(table['Color']))[1:]:
    data[color_name] = (table['Color'] == color_name) * 1

In [20]:
table = data.copy()

In [21]:
table.columns

Index([               u'Id',             u'Model',             u'Price',
               u'Age_08_04',         u'Mfg_Month',          u'Mfg_Year',
                      u'KM',                u'HP',         u'Met_Color',
               u'Automatic',                u'CC',             u'Doors',
               u'Cylinders',             u'Gears',     u'Quarterly_Tax',
                  u'Weight',     u'Mfr_Guarantee',   u'BOVAG_Guarantee',
        u'Guarantee_Period',               u'ABS',          u'Airbag_1',
                u'Airbag_2',             u'Airco',   u'Automatic_airco',
           u'Boardcomputer',         u'CD_Player',      u'Central_Lock',
         u'Powered_Windows',    u'Power_Steering',             u'Radio',
               u'Mistlamps',       u'Sport_Model',  u'Backseat_Divider',
            u'Metallic_Rim',    u'Radio_cassette', u'Parking_Assistant',
                 u'Tow_Bar',            u'Diesel',            u'Petrol',
                    u'Grey',            u'Yellow',             u'Black',
                   u'Beige',            u'Violet',             u'Green',
                   u'White',            u'Silver',               u'Red'],
      dtype='object')

In [22]:
table.to_excel('ToyotaCorolla_cat2num.xls', sheet_name='data')

## Set Input and Output

In [13]:
print(table)

        Id                                              Model  Price  \
0        1      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13500
1        2      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13750
2        3      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  13950
3        4      TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors  14950
4        5        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  13750
5        6        TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors  12950
6        7      TOYOTA Corolla 2.0 D4D 90 3DR TERRA 2/3-Doors  16900
7        8      TOYOTA Corolla 2.0 D4D 90 3DR TERRA 2/3-Doors  18600
8        9        TOYOTA Corolla 1800 T SPORT VVT I 2/3-Doors  21500
9       10        TOYOTA Corolla 1.9 D HATCHB TERRA 2/3-Doors  12950
10      11  TOYOTA Corolla 1.8 VVTL-i T-Sport 3-Drs 2/3-Doors  20950
11      12  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT BNS 2...  19950
12      13  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...  19600
13      14  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...  21500
14      15  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...  22500
15      16  TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-D...  22000
16      17   TOYOTA Corolla 1.8 16V VVTLI 3DR T SPORT 2/3-...  22750
17      18   TOYOTA Corolla 1.6 VVTI Linea Terra Comfort 2...  17950
18      19             TOYOTA Corolla 1.6 16v L.SOL 2/3-Doors  16750
19      20   TOYOTA Corolla 1.6 16V VVT I 3DR TERRA 2/3-Doors  16950
20      21   TOYOTA Corolla 1.6 16V VVT I 3DR TERRA 2/3-Doors  15950
21      22  TOYOTA Corolla 1.6 16V VVT I 3DR SOL AUT4 2/3-...  16950
22      23     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  15950
23      24     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  16950
24      25     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  16250
25      26     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  15950
26      27     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  17495
27      28     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  15750
28      29     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  16950
29      30     TOYOTA Corolla 1.6 16V VVT I 3DR SOL 2/3-Doors  17950
...    ...                                                ...    ...
1406  1413  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   8950
1407  1414                 TOYOTA Corolla 1.6 GL LB 4/5-Doors   8250
1408  1415       TOYOTA Corolla 1.6 16V HATCHB GTSI 2/3-Doors   9250
1409  1416  TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-D...   7900
1410  1417  TOYOTA Corolla 1.3 16V SEDAN LINEA TERRA 4/5-D...   8500
1411  1418  TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA 4/5-D...   7950
1412  1419  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   9950
1413  1420  TOYOTA Corolla 1.6 16V LIFTB LINEA TERRA AUT4 ...   8750
1414  1421  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   7500
1415  1422  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   6950
1416  1423                    TOYOTA Corolla 1.6 LB 4/5-Doors   8950
1417  1424  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA AUT4...   8750
1418  1425  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7750
1419  1426  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   8450
1420  1427   TOYOTA Corolla 1.6 SDN LINEA TERRA AUT 4/5-Doors   8150
1421  1428  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA AUT3...   8500
1422  1429  TOYOTA Corolla 1.6 16V HATCHB LINEA TERRA 2/3-...   7600
1423  1430    TOYOTA Corolla 1.3 HB LINEA TERRA AUT 2/3-Doors   7950
1424  1431        TOYOTA Corolla 1.3 3D Linea Terra 2/3-Doors   7750
1425  1432     TOYOTA Corolla 1.3 Linea Terra sedan 4/5-Doors   7950
1426  1433        TOYOTA Corolla 1.6 Lin.Terra Aut. 2/3-Doors   9950
1427  1434  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA AUT3...   8950
1428  1435  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8450
1429  1436           TOYOTA Corolla 1.3 Linea Terra 4/5-Doors   8950
1430  1437  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8450
1431  1438         TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors   7500
1432  1439  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...  10845
1433  1440  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   8500
1434  1441  TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...   7250
1435  1442        TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors   6950

      Age_08_04  Mfg_Month  Mfg_Year     KM   HP  Met_Color  Automatic  ...    \
0            23         10      2002  46986   90          1          0  ...
1            23         10      2002  72937   90          1          0  ...
2            24          9      2002  41711   90          1          0  ...
3            26          7      2002  48000   90          0          0  ...
4            30          3      2002  38500   90          0          0  ...
5            32          1      2002  61000   90          0          0  ...
6            27          6      2002  94612   90          1          0  ...
7            30          3      2002  75889   90          1          0  ...
8            27          6      2002  19700  192          0          0  ...
9            23         10      2002  71138   69          0          0  ...
10           25          8      2002  31461  192          0          0  ...
11           22         11      2002  43610  192          0          0  ...
12           25          8      2002  32189  192          0          0  ...
13           31          2      2002  23000  192          1          0  ...
14           32          1      2002  34131  192          1          0  ...
15           28          5      2002  18739  192          0          0  ...
16           30          3      2002  34000  192          1          0  ...
17           24          9      2002  21716  110          1          0  ...
18           24          9      2002  25563  110          0          0  ...
19           30          3      2002  64359  110          1          0  ...
20           30          3      2002  67660  110          1          0  ...
21           29          4      2002  43905  110          0          1  ...
22           28          5      2002  56349  110          1          0  ...
23           28          5      2002  32220  110          1          0  ...
24           29          4      2002  25813  110          1          0  ...
25           25          8      2002  28450  110          1          0  ...
26           27          6      2002  34545  110          1          0  ...
27           29          4      2002  41415  110          1          0  ...
28           28          5      2002  44142  110          0          0  ...
29           30          3      2002  11090  110          1          0  ...
...         ...        ...       ...    ...  ...        ...        ...  ...
1406         70         11      1998  44850  110          1          0  ...
1407         69         12      1998  44826  110          0          0  ...
1408         80          1      1998  44444  110          1          0  ...
1409         75          6      1998  43720  110          1          0  ...
1410         78          3      1998  43622   86          1          0  ...
1411         76          5      1998  43532  110          0          0  ...
1412         69         12      1998  42800  110          1          0  ...
1413         74          7      1998  42317  107          1          1  ...
1414         80          1      1998  42186  110          1          0  ...
1415         72          9      1998  42000  110          1          0  ...
1416         79          2      1998  40093  110          0          0  ...
1417         79          2      1998  39800  107          0          1  ...
1418         73          8      1998  39168   86          0          0  ...
1419         75          6      1998  38945  110          1          0  ...
1420         76          5      1998  36537  110          0          1  ...
1421         78          3      1998  36000   86          0          1  ...
1422         78          3      1998  36000  110          1          0  ...
1423         80          1      1998  35821   86          0          1  ...
1424         73          8      1998  34717   86          0          0  ...
1425         80          1      1998  34000   86          1          0  ...
1426         78          3      1998  30964  110          0          1  ...
1427         71         10      1998  29000   86          1          1  ...
1428         72          9      1998  26000   86          0          0  ...
1429         78          3      1998  24000   86          1          1  ...
1430         80          1      1998  23000   86          0          0  ...
1431         69         12      1998  20544   86          1          0  ...
1432         72          9      1998  19000   86          0          0  ...
1433         71         10      1998  17016   86          0          0  ...
1434         70         11      1998  16916   86          1          0  ...
1435         76          5      1998      1  110          0          0  ...

      Petrol  Beige  Silver  Grey  Red  Green  Violet  White  Yellow  Black
0          0      0       0     0    0      0       0      0       0      0
1          0      0       1     0    0      0       0      0       0      0
2          0      0       0     0    0      0       0      0       0      0
3          0      0       0     0    0      0       0      0       0      1
4          0      0       0     0    0      0       0      0       0      1
5          0      0       0     0    0      0       0      1       0      0
6          0      0       0     1    0      0       0      0       0      0
7          0      0       0     1    0      0       0      0       0      0
8          1      0       0     0    1      0       0      0       0      0
9          0      0       0     0    0      0       0      0       0      0
10         1      0       1     0    0      0       0      0       0      0
11         1      0       0     0    1      0       0      0       0      0
12         1      0       0     0    1      0       0      0       0      0
13         1      0       0     0    0      0       0      0       0      1
14         1      0       0     1    0      0       0      0       0      0
15         1      0       0     1    0      0       0      0       0      0
16         1      0       0     1    0      0       0      0       0      0
17         1      0       0     0    0      0       0      0       0      0
18         1      0       0     1    0      0       0      0       0      0
19         1      0       0     1    0      0       0      0       0      0
20         1      0       0     0    0      0       0      0       0      0
21         1      0       0     1    0      0       0      0       0      0
22         1      0       0     0    0      0       0      0       0      1
23         1      0       0     0    0      0       0      0       0      1
24         1      0       0     1    0      0       0      0       0      0
25         1      0       0     0    0      0       0      0       0      0
26         1      0       0     0    0      0       0      0       0      0
27         1      0       0     0    0      0       0      0       0      1
28         1      0       0     1    0      0       0      0       0      0
29         1      0       0     0    0      0       0      0       0      0
...      ...    ...     ...   ...  ...    ...     ...    ...     ...    ...
1406       1      0       0     0    0      0       0      0       0      0
1407       1      0       0     0    1      0       0      0       0      0
1408       1      0       0     0    0      0       0      0       0      0
1409       1      0       0     1    0      0       0      0       0      0
1410       1      0       0     1    0      0       0      0       0      0
1411       1      0       0     0    0      0       0      1       0      0
1412       1      0       0     0    0      0       0      0       0      1
1413       1      0       0     0    0      0       0      0       0      1
1414       1      0       0     0    0      1       0      0       0      0
1415       1      0       0     0    1      0       0      0       0      0
1416       1      0       0     0    1      0       0      0       0      0
1417       1      0       0     0    0      1       0      0       0      0
1418       1      0       0     0    1      0       0      0       0      0
1419       1      1       0     0    0      0       0      0       0      0
1420       1      0       0     0    1      0       0      0       0      0
1421       1      0       0     0    0      1       0      0       0      0
1422       1      0       0     0    0      0       0      0       0      0
1423       1      0       0     0    1      0       0      0       0      0
1424       1      0       0     0    1      0       0      0       0      0
1425       1      0       1     0    0      0       0      0       0      0
1426       1      0       1     0    0      0       0      0       0      0
1427       1      0       0     0    0      0       0      0       0      0
1428       1      0       0     0    0      0       0      1       0      0
1429       1      0       0     0    0      1       0      0       0      0
1430       1      0       0     0    0      0       0      0       0      0
1431       1      0       0     0    0      0       0      0       0      0
1432       1      0       0     1    0      0       0      0       0      0
1433       1      0       0     0    0      0       0      0       0      0
1434       1      0       0     1    0      0       0      0       0      0
1435       1      0       0     0    0      1       0      0       0      0

[1436 rows x 48 columns]

In [12]:
X = table[['Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'HP', 'Met_Color', 'Automatic', 'CC', 'Doors', 'Cylinders', 'Gears',
       'Quarterly_Tax', 'Weight', 'Mfr_Guarantee', 'BOVAG_Guarantee',
       'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2', 'Airco',
       'Automatic_airco', 'Boardcomputer', 'CD_Player', 'Central_Lock',
       'Powered_Windows', 'Power_Steering', 'Radio', 'Mistlamps',
       'Sport_Model', 'Backseat_Divider', 'Metallic_Rim', 'Radio_cassette',
       'Parking_Assistant', 'Tow_Bar', 'Diesel', 'Petrol', 'Silver',
       'Violet', 'Grey', 'Yellow', 'Beige', 'Green', 'Red', 'Black',
       'White']]
y = table['Price']

X = X.as_matrix()
y = y.as_matrix()

In [13]:
import numpy as np

#Shuffle data
permutation = np.random.permutation(len(X))
X = X[permutation]
y = y[permutation]

# Split data
N_train = int(len(X) * 4 / 5)

X_train = X[:N_train]
y_train = y[:N_train]

X_test = X[N_train:]
y_test = y[N_train:]

# Linear Regression Using Scikit-Learn

In [14]:
from sklearn import linear_model

lm = linear_model.LinearRegression()
model = lm.fit(X_train,y_train)

In [15]:
model.coef_

array([-1.15405782e+02, -9.28749401e+01,  1.73567268e+01, -1.62204228e-02,
        1.77905202e+01, -4.07448387e+01,  3.82897434e+02, -9.32081547e-02,
        6.48687661e+01,  5.68434189e-14,  8.14203246e+01,  1.34293924e+01,
        9.71689374e+00,  2.86105713e+02,  3.59867454e+02,  6.62694851e+01,
       -2.05100423e+02, -1.09684559e+01, -1.24881056e+02,  2.41972809e+02,
        2.58338007e+03, -2.30685498e+02,  1.89972240e+02, -7.47198388e+01,
        3.43924971e+02,  1.79530311e+02,  5.28408813e+02, -2.64369587e+01,
        3.42282584e+02, -2.29558656e+02,  1.91395648e+02, -5.93893178e+02,
       -7.04089329e+02, -2.11983466e+02,  4.84519032e+01,  1.03843543e+03,
       -1.08688734e+03,  2.73759411e+02, -2.10591766e+02,  3.53725278e+02,
       -1.77782279e+02, -1.41983098e+02, -1.06984592e+02,  9.98291065e+01,
        2.27663115e+02,  2.46591977e+02, -5.64227152e+02])

## Evaluation

In [16]:
y_train_hat = model.predict(X_train)
y_test_hat = model.predict(X_test)

In [17]:
print(np.round(y_train[:10]))
print(np.round(y_train_hat[:10]))

[22500  9895  8750  9500  8250 10950 11500 21950 10750  5950]
[20808.  9063.  7298. 10914.  9040. 10971. 11446. 20367. 11623.  6928.]

In [18]:
print(np.round(y_test[:10]))
print(np.round(y_test_hat[:10]))

[ 9450  9750  9500 18950  7950 15950  6950 11450  7200  8500]
[ 9877.  9926.  7974. 19472.  8506. 16901.  6132. 12943.  7073.  8166.]

In [19]:
from sklearn import metrics

print("Train r^2: ", metrics.r2_score(y_train, y_train_hat))
print("Test r^2: ", metrics.r2_score(y_test, y_test_hat))

Train r^2:  0.9107571206082735
Test r^2:  0.9078512159417295

# Regularization

In [20]:
from sklearn import linear_model

lm = linear_model.Lasso(alpha=0.1, max_iter=10000)
model = lm.fit(X_train,y_train)

In [21]:
y_train_hat = model.predict(X_train)
y_test_hat = model.predict(X_test)

In [22]:
from sklearn import metrics

print("Train r^2: ", metrics.r2_score(y_train, y_train_hat))
print("Test r^2: ", metrics.r2_score(y_test, y_test_hat))

Train r^2:  0.9107541091112991
Test r^2:  0.9078513330509672